<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h3>Register Here</h3>

    <form action="" method="POST">

        {% csrf_token %}

        {% for field in form %}
        <div>

            <p>{{field.lable}}:<br>{{field}}</p>

            {% for error in field.errors %}
            <small style="color:red">{{error}}</small>
            {% endfor %}

        </div>
        {% endfor %}

        <button type="submit">Register</button>
    </form>

</body>
</html> -->



<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <h1>User Registration</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </div>
        <div>
            <label for="{{ form.first_name.id_for_label }}">First Name:</label>
            {{ form.first_name }}
        </div>
        <div>
            <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
            {{ form.last_name }}
        </div>
        <div>
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
        </div>
        <div>
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
        </div>
        <div>
            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
            {{ form.password2 }}
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
</body>
</html>
